<form action="/contacts" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="qbu8RFLhyCuAElg1qr7MLYDEdiEINJdEe1JLQFLr7kyWPFiHCEZKszOrvwON33s9CqGz7njGpBasOzrpYkb8/w==">
  <div class="blog_title">
    <label for="contact_name">Name</label>
    <input type="text" name="contact[name]">
  </div>
  <div class="contact_email">
    <label for="contact_email">Email</label>
    <input type="text" name="contact[email]">
  </div>
  <div class="contact_content">
    <label for="contact_content">Content</label>
    <input type="text" name="contact[content]">
  </div>
  <input type="submit" name="commit" value="Create Contact" data-disable-with="Create Contact">
</form>
